.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  background-color: $primary;
  width: 100%;
  height: 75px;

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    span {
      padding: 0 0 0 1em;
      font-size: 1.2em;
      color: $white;
    }
  }

  a {
    flex-shrink: 1;

    text-align: center;
    text-decoration: none;
    color: $white;
    padding: 0.75em;
    margin: 0.5em;

    &:hover {
      color: $primary;
      background-color: $white;
    }

    &.active-nav {
      font-weight: 700;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    &.active-nav:hover {
      color: $white;
      background-color: $primary;
    }
  }
}
