/* variables */
$font-stack: 'Open Sans', sans-serif;
$primary: #2e8fa4;
$accent: adjust-hue($primary, 180);
$white: #fff;
$hover-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

@import './components/createpoll/createpoll.scss';
@import './components/editpoll/editpoll.scss';
@import './components/login/login.scss';
@import './components/nav/navbar.scss';
@import './components/polldetails/polldetails.scss';
@import './components/pollslist/pollslist.scss';
@import './components/profile/profile.scss';
@import './components/signup/signup.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font-stack;
}
